.texto{color: aliceblue;padding-left: 180px;}
body{background-color: black;}
header{padding-left: 550px;
color: aliceblue;}
#logito{padding-left: 220px;}
#Bienvenida{color:aliceblue;
padding-left: 600px;}